.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
h1 {
    color: #FCA205;
    font-family: 'Lobster';
}
h1 a {
    color: darkslategrey
}
h2 {
    color: brown;
}

.post {
    margin-bottom: 70px;
    margin-left: 20px;
}